@charset "UTF-8";
/* CSS Document */

/*************************************** COLOR PALETTES ***************************************/

/* !CSS CUSTOM PROPERTIES
/* --- !greys
/* --- !color

/******************************* !CSS CUSTOM PROPERTIES *******************************/

:root {

    /*******************/
    /***** !greys ******/
    /*******************/

    --light-1: rgb(244, 244, 244);
    --light-2: rgb(240, 240, 240);
    --light-3: rgb(230, 230, 230);
    --light-4: rgb(220, 220, 220);
    --light-5: rgb(195, 195, 195);

    --mid-1: rgb(200, 200, 200);
    --mid-2: rgb(160, 160, 160);
    --mid-3: rgb(140, 140, 140);
    --mid-4: rgb(100, 100, 100);
    --mid-5: rgb(90, 90, 90);

    --dark-1: rgb(40, 40, 40);
    --dark-2: rgb(30, 30, 30);
    --dark-3: rgb(20, 20, 20);
    --dark-4: rgb(10, 10, 10);

    /*******************/
    /***** !color ******/
    /*******************/

    /* links */
    --link-basic: rgb(236, 90, 98);
    --link-hover: rgb(255, 255, 255);

    /* accent */
    --accent-primary: rgb(251, 52, 73);
    --accent-secondary: rgb(112, 128, 144);
    --accent-tertiary: rgb(209, 209, 177);
    
}